<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <connectionStrings>
    <add name="LocalAccessDB" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=E:\pen drive bkp\New Sales\Sales Project\Sales.mdb;Persist Security Info=False;"
      providerName="" />
  </connectionStrings>
</configuration>